@import "_colors";

.about-me {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: $theme-primary;
  color: $text-secondary;
  min-height: 100vh;

  .bio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5vh 5vw;
    max-width: 40vw;
  }

  .icons {
    font-size: 5vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 15px;
    margin-top: 10px;
  }

  a {
    color: $text-secondary;
    background-color: transparent;
    text-decoration: none;
  }

  h1 {
    font-weight: 800;
    font-size: 8vh;
    margin: 0;
  }

  h2 {
    font-weight: 300;
    margin: 0;
    font-size: 2.5vh;
  }

  h3 {
    margin: 0;
    font-weight: 500;
    margin-top: 25px;
    font-size: 2vh;
  }

  .profile-img {
    display: flex;
    flex-direction: column;
    max-width: 50vw;
    max-height: 100vh;
    padding-top: 15vh;
  }

  .spacer {
    flex-grow: 1;
  }

  img {
    max-height: 100vh;
    padding-right: 5vw;
    object-fit: contain;
  }
}
