@import "_colors";

.about-me {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: $theme-primary;
  color: $text-secondary;

  .bio {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 5vh 5vw;
    max-width: fit-content;
  }

  .icons {
    font-size: xx-large;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 15px;
    margin-top: 10px;
  }

  a {
    color: $text-secondary;
    background-color: transparent;
    text-decoration: none;
  }

  h1 {
    font-weight: 800;
    font-size: 10vh;
    margin: 0;
  }

  h2 {
    font-weight: 300;
    margin: 0;
    font-size: 2.5vh;
  }

  h3 {
    margin: 0;
    font-weight: 500;
    margin-top: 25px;
  }

  img {
    max-width: 100vw;
  }
}
