@import "_colors";

.projects {
  margin: 0;
  padding: 0 5vw;

  .cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  h1 {
    color: $theme-primary;
    margin: 0;
    padding: 20px 0;
  }
}
.alt-bg {
  background-color: $theme-secondary;
}
