@import "_colors";

.react-projects {
  margin: 0 10vw;

  .cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  h1 {
    color: $theme-primary;
  }
}
